.shopping-cart-container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 30px; */
}
.cart-item {
  display: flex;
  flex-direction: row;
  border: 4px solid #84734d;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  background-color: #212529;
  color: white;
  margin: 10px;
}

.cart-item img {
  height: 100%;
  width: 225px;
}
.cart-info-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 350px;
  text-align: center;
  margin: 20px;
  /* padding: 5px; */
}

/* .cart-title-price {
  display: flex;
  flex-direction: column;
} */

.price-checkout-container {
  /* justify-self: flex-end; */
  align-self: flex-start;

  border: 4px solid #84734d;
  border-radius: 5px;
  height: 120px;
  background-color: #212529;
  color: white;
  padding: 10px;
  margin: 82px;
}

.price-checkout-container button {
  background-color: #84734d;
  color: white;
  height: 35px;
  width: 250px;
  cursor: pointer;
}

#delete-button button {
  background-color: #84734d;
  color: white;
  height: 25px;
  width: 75%;
  cursor: pointer;
  margin: 5px;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quantity button {
  background-color: #84734d;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.quantity button:disabled {
  background-color: grey;
}

/* .page-container {
  display: flex;
  flex-direction: row;
} */
