.shopping-cart-container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  justify-content: space-evenly;
  /* align-items: center; */
  /* margin: 30px; */
}
.cart-item {
  display: flex;
  flex-direction: row;
  border: 4px solid #84734d;
  border-radius: 5px;
  height: 300px;
  width: 100%;
  background-color: #212529;
  color: white;
  margin: 10px;
  /* padding: 10px; */
}

.cart-item img {
  height: 95%;
  width: 225px;
  padding: 5px;
}
.cart-info-section {
  align-self: center;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 5px;
}

/* .cart-title-price {
  display: flex;
  flex-direction: column;
} */

.price-checkout-container {
  /* justify-self: flex-end; */
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 4px solid #84734d;
  border-radius: 5px;
  height: 120px;
  background-color: #212529;
  color: white;
  padding: 15px;
  margin: 82px;
}

.price-checkout-container button {
  background-color: #84734d;
  color: white;
  height: 35px;
  width: 250px;
  cursor: pointer;
}

#delete-button button {
  background-color: #84734d;
  color: white;
  height: 35px;
  width: 50%;
  cursor: pointer;
  margin: 5px;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quantity button {
  background-color: #84734d;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.quantity button:disabled {
  background-color: grey;
}

/* .page-container {
  display: flex;
  flex-direction: row;
} */
