.cart-item {
  display: flex;
}
.cart-info-section {
  display: flex;
  flex-direction: column;
}
.shopping-cart-container {
  display: flex;
  justify-content: center;
}

.price-checkout-container {
  margin-left: 50px;
  border: 1px solid black;
  border-radius: 5px;
  height: fit-content;
  padding: 10px;
}
