/* .profile-button {
  position: absolute;
  top: -90px;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: center;
  align-items: center;
  background-color: black;
  height: 150px;
}

.nav-grey {
  width: 100%;
  height: 60%;
  background-color: #212529;
}

.nav-links {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  color: white;
}

.directory {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-items: space-between; */
  margin-right: 15px;
}

.directory div {
  margin-left: 50px;
}

.cart-icon {
  height: 50px;
}

.profile-icon {
  height: 50px;
  cursor: pointer;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 2px;
}

.nav-logo ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-content: space-between; */
}

.nav-logo li {
  color: white;
  display: flex;
  /* justify-content: space-between; */
  /* align-content: space-between; */
  margin-right: 30px;
}

.nav-logo a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#logout-button {
  width: 131px;
  /* gap: -100px; */
} */
