.update-image-small-view {
  height: 70px;
  width: 70px;
}

.image-upload-container {
  display: flex;
  flex-direction: column-reverse;
}
.update-image-list {
  list-style-type: none;
  /* margin: 20px; */
}

.indiv-option {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border: 1px solid #84734d;
  border-radius: 5px;
  padding: 3px;
}
