.main-guitar-detail {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0, auto;
  margin-top: 20px;
}
.single-guitar-images-container {
  display: flex;
  flex-direction: row;
}

.carousel {
  align-self: flex-start;
  justify-content: flex-start;
  /* width: 90%; */
  margin-bottom: 20px;
}

.single-guitar-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.single-guitar-description {
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid #84734d; */
}

.carousel-root.carousel {
  border: 3px solid #84734d;
  border-radius: 5px;
  padding: 5px;
}

.single-guitar-info-container button {
  background-color: #84734d;
  margin-top: 10px;
  color: white;
  height: 40px;
  width: 225px;
  cursor: pointer;
}

.new-line-break {
  border: 1px solid #84734d;
}

.newer-line-break {
  border: 1px solid #84734d;
  width: 40%;
}

.specs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.vert-line {
  border: 1px solid #84734d;
  height: 100px;
}
