.all-listings-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  justify-content: flex-start;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
.listings-filter {
  max-width: 1440px;
  margin: 0 auto;
}

.all-listing-image {
  /* width: 99%; */
  /* height: 500px; */
  object-fit: contain;
  /* border: 2px solid red; */
}

.single-listing-container {
  height: 500px;
  width: 100%;
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-end;
  /* overflow: auto; */
}
.all-listings-info-container {
  /* border: 2px solid green; */
  /* gap: 5px; */
  gap: -10px;
  align-self: flex-start;
  /* gap: -104px; */
}
